body {
    font-family: Rubik, Arial;
    color: #333;
}

b, strong, label {
    font-weight: 500;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-right: -20px;
}

.slick-slider .slick-prev, .slick-slider .slick-next {
    top: 34px;
}

.slick-slider .slick-prev:before, .slick-slider .slick-next:before {
    color: black;
}

.occurrence {
    padding: 10px;
    background-color: #f9f5f0;
    border-right-style: solid;
    border-right-width: 10px;
    margin: 10px;
}

.occurrence.Holiday {
    border-right-color: blue;
}

.occurrence.SpecialDay {
    border-right-color: green;
}

.occurrence.WeeklyActivity {
    border-right-color: orange;
}

.occurrence.OneTimeEvent {
    border-right-color: red;
}

.slick-slide h3 {
    text-align: center;
}

.slick-slide .btn {
    margin-right: 10px;
}