body {
    font-family: Rubik, Arial;
    color: #333;
}

b, strong, label {
    font-weight: 500;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-right: -20px;
}

.slick-slider .slick-prev, .slick-slider .slick-next {
    top: 34px;
}

.slick-slider .slick-prev:before, .slick-slider .slick-next:before {
    color: black;
}

.occurrence {
    padding: 10px;
    background-color: #f9f5f0;
    border-right-style: solid;
    border-right-width: 10px;
    margin: 10px;
}

.occurrence.with-icon {
    min-height: 68px;
}

.occurrence.Holiday {
    border-right-color: blue;
}

.occurrence.SpecialDay {
    border-right-color: green;
}

.occurrence.WeeklyActivity {
    border-right-color: orange;
}

.occurrence.OneTimeEvent {
    border-right-color: red;
}

.slick-slide h3 {
    text-align: center;
}

.slick-slide .btn {
    margin-right: 10px;
}

.control-label {
    white-space: nowrap;
}

.form-control[readonly] {
    background-color: #fff;
}

.clockpicker-popover {
    direction: ltr;
    right: initial;
}


.popover.top > .arrow:after {
    margin-right: 0;
    margin-left: -10px;
}

.month-header {
    text-align: center;
}

.month-header a {
    margin: 0 20px;
}

table.month {
    width: 100%;
    border-collapse: collapse;
}

table.month th, table.month td {
    border: 1px solid #ccc;
    padding: 5px;
    width: 14.286%;
}

table.month th {
    color: #fff;
    background-color: #46a;
}

table.month td {
    height: 60px;
    vertical-align: top;
}

table.month td.sat,
table.month td.holiday {
    background-color: #ffd;
}

table.month td.noday {
    background-color: #eee;
}

table.month img {
    width: 20px;
    height: 20px;
    margin: 5px 0 0 5px;
}

