<div>
    <h3>יום {{ the_day|date:"l" }} {{ the_day|date:"j בF" }}</h3>
    {% for occurrence in occurrences %}
        <div class="occurrence {{ occurrence.event_class_name }}">
            {% if occurrence.event.icon %}
                <img src="{{ occurrence.event.icon.image.url }}" width="48" height="48" style="float: left;">
            {% endif %}
            <b>{{ occurrence.event }}</b>
            {% if occurrence.event.weeklyactivity.start_time %}
                <br><bdo dir="ltr">
                    {{ occurrence.event.weeklyactivity.start_time }}
                    &ndash;
                    {{ occurrence.event.weeklyactivity.end_time }}
                </bdo>
            {% endif %}
            {% if occurrence.event.onetimeevent.start_date %}
                <br><bdo dir="ltr">
                    {{ occurrence.event.onetimeevent.start_date|date:"H:i" }}
                    {% if occurrence.event.onetimeevent.end_date %}
                        &ndash;
                        {{ occurrence.event.onetimeevent.end_date|date:"H:i" }}
                    {% endif %}
                </bdo>
            {% endif %}
        </div>
    {% empty %}
        <p>אין  אירועים.</p>
    {% endfor %}
    <a href="{% url "add" %}?dt={{ the_day|date:"d.m.Y" }}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></a>
</div>