{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {% for occurrence in occurrences %}
                {% ifchanged %}<h3>{{ occurrence.date|date:"j בF (l)" }}</h3>{% endifchanged %}
                <div class="well" style="min-height: 80px;">
                    {% if occurrence.event.icon %}
                        <img src="{{ occurrence.event.icon.image.url }}" width="48" height="48" style="float: left;">
                    {% endif %}
                    <b>{{ occurrence.event }}</b>
                    {% if occurrence.event.weeklyactivity.start_time %}
                        <br><bdo dir="ltr">
                            {{ occurrence.event.weeklyactivity.start_time }}
                            &ndash;
                            {{ occurrence.event.weeklyactivity.end_time }}
                        </bdo>
                    {% endif %}
                    {% if occurrence.event.onetimeevent.start_date %}
                        <br><bdo dir="ltr">
                            {{ occurrence.event.onetimeevent.start_date|date:"H:i" }}
                            &ndash;
                            {{ occurrence.event.onetimeevent.end_date|date:"H:i" }}
                        </bdo>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}